@import './base/base';
@import './themes/varilable';
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .container {
        display: flex;
        justify-content: space-between;
        .logo {
            img {
                max-width: 100%;
            }
        }
        .navbar {
            padding: 15px;
            align-items: center;
            @media screen and (max-width: 576px) {
             justify-content: end;
             text-align: end;
             }
            @media screen and (max-width: 768px) {
             justify-content: end;
             text-align: end;
             }
            .navbar-toggler {
                background-color: $text-c1;
            }
            .navbar-toggler-icon {
                color: #000;
            }
            .collapse {
                .navbar-nav {
                    .contact {
                        margin-left: 40px;
                        // padding: 15px;
                        .btn-info {
                            .phone {
                                font-size: $text-xs;
                                padding-right: 10px;
                            }
                            @include button(
                                0.9rem,
                                $text-ligt,
                                $text-c1-light,
                                $text-c1,
                                10px 20px,
                                1px solid $text-c1,
                                50px,
                                $bg-c1-light,
                                $text-c1,
                                0.5s,
                                0 0 0 1px #b61984 inset
                            );
                            font-weight: $text-regular;
                        }
                        i {
                            padding: 5px;
                            &:hover {
                                color: $text-c1;
                            }
                        }
                    }
                    .nav-item {
                        padding: 0 10px;
                        .nav-link {
                            @media screen and (max-width: 576px) {
                               font-size: $text-2xl;
                             }
                            @include text();
                            &:hover {
                                color: $text-c1;
                            }
                        }
                    }
                }
            }
        }
    }
}

//carousel
.carousel {
    position: relative;
    // top: 0 ;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;
    background-image: url(../img/yellow_top_wave_01.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    padding-top: 150px;
    z-index: 1;
    .container {
        display: flex;
        align-items: center;
        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
         }
        .carousel__left {
            width: 50%;
            padding: 15px;
            @media screen and (max-width: 576px) {
                width: 100%;
                margin-top: $text-4xl;
             }
            h1 {
                font-size: $text-xl;
                color: $text-c1;
                font-weight: 600;
            }
            h2 {
                @media screen and (max-width: 576px) {
                    font-size: $text-4xl;
                 }
                font-size: $text-6xl;
            }
        }
        .carousel__right {
            @media screen and (max-width: 576px) {
                width: 100%;
                margin-top: $text-4xl;
             }
            padding: 15px;
            width: 50%;
            img {
                max-width: 100%;
            }
        }
    }
}
.cover_img {
    @media screen and (max-width: 576px) {
        margin-bottom: $text-2xl;
    }
    img {
        width: 100%;
        height: 100%;
        display: block;
        user-select: none;
    }
}
.products {
    background-color: #dcd1f3;
    position: relative;
    z-index: 1;
    .cover_img2 {
        @media screen and (max-width: 576px) {

            margin-bottom: $text-2xl;
        }
        position: absolute;
        right: 0;
        left: 0;
        pointer-events: none;
        // z-index: 2;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            display: block;
            user-select: none;
        }
    }
    .container {
        position: relative;
        z-index: 11;
        @media screen and (max-width: 768px) {
           max-width: 700px;
           margin: 0 auto;
        }
        .products__row {
            @media screen and (max-width: 576px) {
                flex-wrap: wrap;
            }
            .products__col {
                @media screen and (max-width: 576px) {
                    width: 100%;
                    margin-bottom: $text-2xl;

                }
                @media screen and (max-width: 768px) {
                   width: 100%;
                   margin-bottom: $text-2xl;
                   margin-top: 0 !important
                }
                @for $i from 0 to 8 {
                    .item-#{$i + 1} {
                        animation: fadeIn (0.5s * $i + 1);
                      
                    }
                }
                .card-item {
                    border-radius: 10px;
                    position: relative;
                    z-index: 6;
                    background-color: $bg-c1-light;
                    &:hover {
                        transition: all 0.5s;
                        box-shadow: 8px 15px 24px -3px rgba(107, 100, 100, 0.76);
                        -webkit-box-shadow: 8px 15px 24px -3px rgba(107, 100, 100, 0.76);
                        -moz-box-shadow: 8px 15px 24px -3px rgba(107, 100, 100, 0.76);
                    }
                    img {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    .card-body {
                        text-align: center;

                        h2 {
                            font-size: $text-xs;
                            color: $text-c1;
                        }
                        h3 {
                            font-size: $text-2xl;
                            font-weight: $text-semibold;
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
}
.info {
    position: relative;
        .cover_img3 {
            position: absolute;
            right: 0;
            left: 0;
            pointer-events: none;
            // z-index: 2;
            bottom: 0;
            img {
                width: 100%;
                height: 100%;
                display: block;
                user-select: none;
            }
        }
        .container{
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1080px;
            margin: 0 auto;
            @media screen and (max-width: 576px) {   
                flex-wrap: wrap;
             }
            .info_left {
                @media screen and (max-width: 576px) {   
                   width: 100%;
                }
                width: 60%;
                img {
                    max-width: 100%;
                }
            }
            form {
                @media screen and (max-width: 576px) {   
                    width: 100%;
                 }
                border-radius: 10px;
                width: 40%;
                box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                text-align: center;
                padding: 20px 20px;
                background-color: $bg-c1-light;
                h1 {
                    font-weight: $text-semibold;
                    padding: 50px 0;
                }
                .form_card {
                    display: flex;
                    justify-content: space-between;
                    .form-control {
                        border-radius: 50px;
                        padding: $text-xs;
                        font-size: 14px;
                    }
                }
                .mb-4 {
                    position: relative;
                    margin: 0 10px;
                    i {
                        position: absolute;
                        top: 1em;
                        left: 1em;
                        line-height: 1em;
                        color: $text-c1;
                    }
                    .form-select {
                        border-radius: 50px;
                        padding: $text-xs;
                        font-size: 14px;
                        text-align: center;
                    }
                    .form-control {
                        border-radius: 20px;
                        padding: $text-xs;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                .change {
                    padding: 32px 0;
                    .btn-info {
                        text-align: left;
                        display: block;
                        letter-spacing: 2px;
                        @include button(
                            14px,
                            $text-semibold,
                            $text-c1-light,
                            $text-c1,
                            10px 60px,
                            1px solid $text-c1,
                            50px,
                            $bg-c1-light,
                            $text-c1,
                            0.5s,
                            0 0 0 1px #b61984 inset
                        );
                    }
                }
            }
        } 
    }
.footer{
    background-image: url(../img/footer_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    .container{
        .row{
            padding: 8em 0;
            color: $bg-c1-light;
            @media screen and (max-width: 576px) {   
                flex-wrap: wrap;
             }
            .col-3{
                @media screen and (max-width: 576px) {   
                    width: 100%;
                    margin-bottom: $text-2xl;
                 }
                .item{
                    .myemail{
                        display: flex;
                        flex-direction: column;
                        // margin-bottom: 5px;
                        input{
                            border-radius: 50px;
                            padding: 10px 20px;
                            text-align: center;
                            border: 1px solid #fff;
                            margin-bottom: 10px
                        }
                    }
                    button{
                       
                        @include button(
                            0.9rem,
                            $text-ligt,
                            $text-c1-dark,
                            $bg-c1-light,
                            10px 20px,
                            1px solid $text-c1-light,
                            50px,
                            $text-c1,
                            $text-c1-light,
                            0.5s,
                            0 0 0 1px #b61984 inset
                        );
                    }
                    h4{
                        font-weight: 600;
                      margin-bottom: 30px;
                    }
                    .footer_info{
                        list-style: none;
                        padding-left: 0;
                        li{
                            padding: 5px 0;
                            font-size: $text-xs;
                            font-weight: $text-regular;
                        }
                    }
                    .footer_seting{
                        padding: 5px 0;
                        display: flex;
                        align-items: center;
                        i{ 
                            margin-right: 10px;
                            &:hover{
                                color: $text-c1-dark;
                            }
                        }
                        span{}
                    }
                }
            }
        }
    }
}
